// 主要カラー
$orangeColor: #F5A623;
$grayColor: #D5D5D5;
$skinColor: #F8F8F8;
$navyColor: #1B224C;


// フォントサイズ
$headingFsz1: 4.8rem;
$headingFsz2: 3.6rem;
$headingFsz3: 3.2rem;
$headingFsz4: 2.6rem;
$blogFsz: 1.8rem;
$paraFsz: 1.6rem;
$btnFsz: 1.6rem;
$miniFsz: 1.2rem;
