@import "../setting/config";

/* フッター */

.footer {
	&__bg {
		background-color: $navyColor;
		color: #ffffff;
	}

	&__inner {
		max-width: 900px;
		margin: 0 auto;
		padding: 35px 20px 70px;
		display: flex;
		justify-content: space-between;
	}

	&__nav-item:not(:last-of-type) {
		border-right: solid 1px #fff;
		padding-right: 25px;
		margin-right: 25px;
	}

	&__info {
		text-align: right;
	}
	&__logo {
		background-color: #fff;
		padding: 14px 20px;
		margin-bottom: 25px;
	}

	&__tel {
		font-size: 1.6rem;
		font-weight: bold;
		line-height: calc(27 / 16);
		margin-bottom: 5px;

		&:before {
			content: url(../../img/phone-logo-white.png);
			margin-right: 4px;
			vertical-align: -2px;
		}
	}

	&__date {
		font-size: 1.2rem;
		line-height: calc(20 / 12);
	}

	&__copyright {
		max-width: 900px;
		margin: 0 auto;
		color: $navyColor;
		text-align: right;
		font-size: 1.2rem;
		font-weight: bold;
		line-height: calc(20 / 12);
		padding: 8px;
	}
}

@media screen and (max-width: 1050px) {
	/* フッター */

	.footer {
		&__inner {
			max-width: 730px;
			padding: 35px 20px 40px;
		}

		&__logo {
			margin-bottom: 15px;
		}

		&__tel {
			font-size: 1.4rem;
			line-height: calc(22 / 14);
			margin-bottom: 5px;
		}

		&__date {
			font-size: 1.2rem;
			line-height: calc(20 / 12);
		}

		&__copyright {
			max-width: 730px;
		}
	}
}

@media screen and (max-width: 760px) {
    .footer {

        &__gnav {
            margin: 0 auto;
            margin-bottom: 30px;
        }

        &__gnav-list {
            flex-direction: column;
        }

        &__nav-item {
            text-align: center;
            margin-right: 0;
        }

        &__nav-item:not(:last-of-type) {
            border-right: 0;
            padding-right: 0;
            margin-right: 0;
            margin-bottom: 10px;
        }

        &__inner {
            flex-direction: column;
		}

        &__info {
            text-align: center;
        }

		&__logo {
            margin: 0 auto 0;
			margin-bottom: 15px;
		}

		&__copyright {
            text-align: center;
		}

    }

}