@import "../setting/config";

/* グローバルナビ */
.gnav {
	&__list {
		display: flex;
		align-items: center;
	}
	&__item {
		margin-right: 28px;
		font-size: $paraFsz;
		font-weight: bold;
		line-height: calc(29 / 16);
	}
}

@media screen and (max-width: 1050px) {
	.gnav {
		&__item {
			margin-right: 15px;
			font-size: 1.4rem;
			font-weight: bold;
			line-height: calc(29 / 16);
		}
	}
}

@media screen and (max-width: 760px) {
	.header__gnav {
		display: none;
	}
	
}
